@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font: 'Inter', sans-serif;
}

a.active hr {
    display: block;
    border-color: #570BE4;
}

a.active div {
  color: #570BE4;
}